<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="form-group col-md-12">
      <label class="text-left font-weight-semi-bold font-size-15 grey-700-fg main-font-family">New Password*</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="newPassword">
      <div class="alert alert-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <div *ngIf="newPassword.errors.required">
          Password is required
        </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label class="text-left font-weight-semi-bold font-size-15 grey-700-fg">Confirm Password*</label>
      <input type="password" class="form-control" placeholder="Confirm Password" amConfirmEqual="newPassword"
        formControlName="confirmPassword">
      <div class="alert alert-danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <div *ngIf="confirmPassword.errors.confirmEqual">
          Password is not matched
        </div>
        <div *ngIf="confirmPassword.errors.required">
          Confirm Password is required
        </div>
      </div>
    </div>
    <!-- <div class="form-group col-md-12">
              <label class="text-left font-weight-semi-bold font-size-15 grey-700-fg">Hint*</label>
            <input type="password" class="form-control" placeholder="Hint">
          </div>                  -->
    <div class="form-group col-md-12">
      <button mat-flat-button color="primary" class="border-radius-0 mrg-right-10">Submit</button>
      <button type="button" mat-stroked-button color="primary" class="border-radius-0" (click)="passwordForm.reset()">Cancel</button>
    </div>
  </div>
</form>