<div class="dialog-container">
    <div fxLayoutAlign="space-between">
      <div class="text-center mrg-0">
          <h1 mat-dialog-title>Welcome Back !</h1>
          <p>Please enter your password</p>
      </div>

      <button mat-icon-button  [mat-dialog-close]="false" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
     
      <form [formGroup]="passwordForm" fxLayout="column" fxLayoutAlign="start">
       <mat-form-field>
         <input matInput type="password" placeholder="password" formControlName="password">
       </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end" fxLayoutGap="10px" class="mt-20">
      <button mat-raised-button color="primary" class="border-radius-0 theme-color-bg white-500-fg" [disabled]="passwordForm.invalid" (click)="onSubmit()">Next</button>
    </div>
  </div>